.Dia19 {
    height: 90%;
    aspect-ratio: 1;
    border-radius: 4px;
    overflow: hidden;
    padding-left: -50%;

    &>.contenedorPage {
        width: 300%;
        height: 100%;
        left: -200%;
        transition: 0.8s;
        z-index: 6;

        @for $i from 1 through 3 {
            &.active0#{$i} {
                left: calc(-#{$i - 1} * 100%);
            }
        }


        &>.pageSec {
            min-width: 33.33%;
        }

        &>.pageSec:nth-child(1) {
            background-color: #9B59B6;
        }

        &>.pageSec:nth-child(2) {
            background-color: #3498DB;
        }

        &>.pageSec:nth-child(3) {
            background-color: #1ABC9C;
        }
    }

    &>.botones {
        z-index: 7;
        gap: 8px;

        &>button {
            width: 40px;
            aspect-ratio: 1;
            border-radius: 50%;
            border: 2px solid #fff;
            background-color: transparent;
            z-index: 8;
            cursor: pointer;
        }

        &.numPage01::before {
            transform: translateX(-48px);
        }
        &.numPage02::before {
            transform: translateX(0px);
        }
        &.numPage03::before {
            transform: translateX(48px);
        }


        &::before {
            content: '';
            position: absolute;
            width: 32px;
            aspect-ratio: 1;
            border-radius: 50%;
            background-color: #fff;
            transition: 0.8s;
            z-index: 9;
        }
    }
}